.items .item {
    width: 276;
    float: left;
    margin-right: 32px;
}
.items .item > a {
    display: block;
    width: 276px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 3px;
}
.items .item > a img {
    display: block;
    width: 100%;
}
.items .item > a .eye{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #73b320;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0;
    transform: scale(1.2);
    transition: 0.5s;
}
.items .item > a:hover .eye {
    opacity:1;
    transform: scale(1);
}
.items .item > p {
    color: #666
}
.items .item > h5{
    color:red;
}
.item .item .chose{
    opacity: 0;
    transition: 0.5s;
}
.items .item .chose a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #39b0ff;
}
.items .item:hover .chose{
    opacity: 1;
    transform: translateY(-20px);
}
.items .item:hover .h5{
    opacity: 0;
    transform: translateY(10px);
}